.dialog-overlay,.dialog{visibility:hidden;opacity:0}
.dialog-overlay.active,.dialog.active{visibility:visible;opacity:1;transition-delay:0s/* fixes fade-in/fade-out*/}

.dialog-overlay{
	transition:visibility 0s .35s, opacity .35s;

	background-color:black;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";/* IE8 */
	background-color:rgba(0,0,0,.75)
}

.dialog{
	position:absolute;top:0;left:0; /* fix for reserved space */

	transform:translateY(-15px);
	transition:visibility 0s .35s, opacity .35s ease-in, transform .35s ease-in;

	background-color:white;
	padding:15px;
	width:360px;
	max-width:98%;
	border-radius:4px;
	line-height:1.8;
	box-shadow: black 0 0 64px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
@media only screen and (max-width:480px){
	.dialog{width:auto}
}
.dialog.active{transform:translateY(0px)}

.dialog button{
	margin-top:10px;
	float:right;
}
